<!-- Meta etiquetes obligatories -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Informació del lloc web -->
{%- include _head/title.html -%}
{%- include _head/description.html -%}

<!-- Etiquetes de geolocalització -->
{%- include _head/geo-tag.html -%}

<!-- Controlar el comportament dels buscadors -->
{%- include _head/robots.html -%}

<!-- Verificació del lloc web -->
{%- include _head/site-verification.html -%}

<!-- Open Graph -->
{%- include _head/open-graph-facebook.html -%}
{%- include _head/open-graph-twitter.html -%}
{%- include _head/open-graph-gplus.html -%}

<!-- Manifest -->
<link rel="manifest" href="{{ '/manifest.json' | prepend: site.baseurl }}">

<!-- Estils del lloc web -->
<link rel="stylesheet" href="{{ '/assets/css/ilercapp.css' | prepend: site.baseurl }}"/>

<!-- Analítica del lloc web -->
{%- include _head/analytic-google.html -%}
