---
lang: ca
title: "Inici"
description: "Pàgina d'inici."
robots: "index,follow"

facebook:
  app_id:
  publisher:
  author:
  img:
google_plus:
  publisher:
  author:
  img:
twitter:
  publisher:
  author:
  img:
---

<h1>Pàgina en català</h1>
<h2>Idiomes</h2>
<ul>
  {% for lang in site.langs %}
  	{% if lang == page.lang %}
  	<li class="active">{{lang}}</li>
  	{% else %}
    <li>
      {% assign pageName = page.path | split:'/' | last %}
      {% capture otherPath %}_{{page.collection}}/{{lang}}/{{pageName}}{% endcapture %}
      {% assign otherPage = site[page.collection] | where:'path', otherPath | first %}
      {% assign langUrl = otherPage.url %}
      <a href="{{ site.baseurl }}{{langUrl}}">{{lang}}</a>
    </li>
  	{% endif %}
  {% endfor %}
</ul>

<h2>Publicacions (totes)</h2>
{%- for post in site.posts -%}
  <h3><a href="{{- post.url | prepend: site.baseurl -}}">{{- post.title -}}</a></h3>
  <p>{{- post.description -}}</p>
  <p><small><strong>{{- post.date | date: "%B %e, %Y" -}}</strong></small></p>
{%- endfor -%}

<h2>Publicacions (idioma pàgina)</h2>
{%- assign posts_ca = site.posts | where:"lang", page.lang -%}
{%- for post in posts_ca -%}
  <h3><a href="{{- post.url | prepend: site.baseurl -}}">{{- post.title -}}</a></h3>
  <p>{{- post.description -}}</p>
  <p><small><strong>{{- post.date | date: "%B %e, %Y" -}}</strong></small></p>
{%- endfor -%}

<h2>Publicacions (ES)</h2>
{%- assign posts_ca = site.posts | where:"lang", "es" -%}
{%- for post in posts_ca -%}
  <h3><a href="{{- post.url | prepend: site.baseurl -}}">{{- post.title -}}</a></h3>
  <p>{{- post.description -}}</p>
  <p><small><strong>{{- post.date | date: "%B %e, %Y" -}}</strong></small></p>
{%- endfor -%}
