---
lang: ca
title: "Inici"
description: "Pàgina d'inici."
robots: "index,follow"

facebook:
  app_id:
  publisher:
  author:
  img: "/assets/icons/icon-512x512.png"
google_plus:
  publisher:
  author:
  img: "/assets/icons/icon-512x512.png"
twitter:
  publisher:
  author:
  img: "/assets/icons/icon-512x512.png"
---

<h1>Pàgina en català</h1>
<h2>Idiomes</h2>
<ul>
  {% for lang in site.langs %}
  	{% if lang == page.lang %}
  	<li class="active">{{lang}}</li>
  	{% else %}
    <li>
      {% assign pageName = page.path | split:'/' | last %}
      {% capture otherPath %}_{{page.collection}}/{{lang}}/{{pageName}}{% endcapture %}
      {% assign otherPage = site[page.collection] | where:'path', otherPath | first %}
      {% assign langUrl = otherPage.url %}
      <a href="{{ site.baseurl }}{{langUrl}}">{{lang}}</a>
    </li>
  	{% endif %}
  {% endfor %}
</ul>

<h2>Publicacions (totes)</h2>
{%- for post in site.posts -%}
  <h3><a href="{{- post.url | prepend: site.baseurl -}}">{{- post.title -}}</a></h3>
  <p>{{- post.description -}}</p>
  <p><small><strong>{{- post.date | date: "%B %e, %Y" -}}</strong></small></p>
{%- endfor -%}

<h2>Publicacions (idioma pàgina)</h2>
{%- assign postsCa = site.posts | where:"lang", page.lang -%}
{%- for post in postsCa -%}
  <h3><a href="{{- post.url | prepend: site.baseurl -}}">{{- post.title -}}</a></h3>
  <p>{{- post.description -}}</p>
  <p><small><strong>{{- post.date | date: "%B %e, %Y" -}}</strong></small></p>
{%- endfor -%}

<h2>Publicacions (ES)</h2>
{%- assign postsEs = site.posts | where:"lang", "es" -%}
{%- for post in postsEs -%}
  <h3><a href="{{- post.url | prepend: site.baseurl -}}">{{- post.title -}}</a></h3>
  <p>{{- post.description -}}</p>
  <p><small><strong>{{- post.date | date: "%B %e, %Y" -}}</strong></small></p>
{%- endfor -%}

<h2>Publicacions agrupades per categories (totes)</h2>
{%- for category in site.categories -%}
  <div class="archive-group">
    {%- capture category_name -%}{{- category | first -}}{%- endcapture -%}
    <h3><u>{{ category_name }}</u></h3>

    {%- for post in site.categories[category_name] -%}
      <ul>
        <li><a href="{{- post.url | prepend: site.baseurl -}}">{{- post.title -}}</a></li>
      </ul>
    {%- endfor -%}
  </div>
{%- endfor -%}

<h2>Publicacions agrupades per categories (idioma pàgina)</h2>
{%- for category in site.categories -%}
  <div class="archive-group">
    {%- capture category_name -%}{{- category | first -}}{%- endcapture -%}
    <h3><u>{{ category_name }}</u></h3>

    {%- for post in site.categories[category_name] -%}
      {%- if post.lang == page.lang -%}
        <ul>
          <li><a href="{{- post.url | prepend: site.baseurl -}}">{{- post.title -}}</a></li>
        </ul>
      {%- endif -%}
    {%- endfor -%}
  </div>
{%- endfor -%}

<h2>Publicacions agrupades per categories (ES)</h2>
{%- for category in site.categories -%}
  <div class="archive-group">
    {%- capture category_name -%}{{- category | first -}}{%- endcapture -%}
    <h3><u>{{ category_name }}</u></h3>

    {%- for post in site.categories[category_name] -%}
      {%- if post.lang == 'es' -%}
        <ul>
          <li><a href="{{- post.url | prepend: site.baseurl -}}">{{- post.title -}}</a></li>
        </ul>
      {%- endif -%}
    {%- endfor -%}
  </div>
{%- endfor -%}

<h2>Publicacions agrupades per etiquetes (totes)</h2>
{%- for tag in site.tags -%}
  <div class="archive-group">
    {%- capture tag_name -%}{{- tag | first -}}{%- endcapture -%}
    <h3><u>{{ tag_name }}</u></h3>

    {%- for post in site.tags[tag_name] -%}
      <ul>
        <li><a href="{{- post.url | prepend: site.baseurl -}}">{{- post.title -}}</a></li>
      </ul>
    {%- endfor -%}
  </div>
{%- endfor -%}

<h2>Publicacions agrupades per etiquetes (idioma pàgina)</h2>
{%- for category in site.tags -%}
  <div class="archive-group">
    {%- capture tag_name -%}{{- category | first -}}{%- endcapture -%}
    <h3><u>{{ tag_name }}</u></h3>

    {%- for post in site.tags[tag_name] -%}
      {%- if post.lang == page.lang -%}
        <ul>
          <li><a href="{{- post.url | prepend: site.baseurl -}}">{{- post.title -}}</a></li>
        </ul>
      {%- endif -%}
    {%- endfor -%}
  </div>
{%- endfor -%}

<h2>Publicacions agrupades per etiquetes (ES)</h2>
{%- for category in site.tags -%}
  <div class="archive-group">
    {%- capture tag_name -%}{{- category | first -}}{%- endcapture -%}
    <h3><u>{{ tag_name }}</u></h3>

    {%- for post in site.tags[tag_name] -%}
      {%- if post.lang == 'es' -%}
        <ul>
          <li><a href="{{- post.url | prepend: site.baseurl -}}">{{- post.title -}}</a></li>
        </ul>
      {%- endif -%}
    {%- endfor -%}
  </div>
{%- endfor -%}