<!-- Meta etiquetes obligatories -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Informació del lloc web -->
{%- include _head/_redirect/title.html -%}
{%- include _head/_redirect/description.html -%}

<!-- Etiquetes de geolocalització -->
{%- include _head/_redirect/geo-tag.html -%}

<!-- Controlar el comportament dels buscadors -->
{%- include _head/_redirect/robots.html -%}

<!-- Open Graph -->
{%- include _head/_redirect/open-graph-facebook.html -%}
{%- include _head/_redirect/open-graph-twitter.html -%}
{%- include _head/_redirect/open-graph-gplus.html -%}

<!-- Feed RSS (xml + json) -->
{%- include _head/_partials/feed.html -%}

<!-- Estils del lloc web -->
{%- include _head/_partials/styles.html -%}

<!-- Manifest + favicons -->
{%- include _head/_partials/manifest.html -%}

<!-- Verificació del lloc web -->
{%- include _head/_partials/site-verification.html -%}

<!-- Analítica del lloc web -->
{%- include _head/_partials/analytic-google.html -%}
