{%- capture site_name -%}
  {{- site.t[page.lang].site_info.name -}}
{%- endcapture -%}

{%- capture motto -%}
  {{- site.t[page.lang].site_info.motto -}}
{%- endcapture -%}

{%- capture title -%}
  {{- page.title -}}
{%- endcapture -%}

{%- capture description -%}
  {{- page.description | default:site.t[page.lang].site_info.description -}}
{%- endcapture -%}

{%- capture publisher -%}
  {{- site.t[page.lang].open_graph.twitter.publisher -}}
{%- endcapture -%}

{%- capture author -%}
  {{- site.t[page.lang].open_graph.twitter.author -}}
{%- endcapture -%}

{%- capture image -%}
  {{- page.twitter.img | default:site.t[page.lang].open_graph.twitter.img -}}
{%- endcapture -%}

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">

{%- if publisher != empty -%}
  <meta name="twitter:site" content="{{- publisher -}}">
{%- endif -%}

{%- if author != empty -%}
  <meta name="twitter:creator" content="{{- author -}}">
{%- endif -%}

{%- if motto == empty -%}
  <meta name="twitter:title" content="{{- title }} | {{ site_name -}}">
{%- else -%}
  <meta name="twitter:title" content="{{- title }} | {{ site_name -}}: {{ motto -}}">
{%- endif -%}

<meta name="twitter:description" content="{{- description -}}">

{%- if image != empty -%}
  <meta name="twitter:image" content="{{- site.url | append:site.baseurl | append:image -}}">
{%- endif -%}
